*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

.navbar,
.hero,
.info,
.quotes,
.cba__container,
.footer {
  padding-inline: 15%;
}

.navbar {
  background-color: #1F2937;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding-block: 1em;
}

.navbar__logo {
  color: #F9FaF8;
  font-size: 24px;
}

.navbar__menu {
  list-style: none;
  display: flex;
  gap: 1em;
  color: #E5E7EB;
  font-size: 18px;
}

.menu__item {
  cursor: pointer;
}

.hero {
  background-color: #1F2937;
  display: flex;
  padding-block: 4em;

  gap: 3rem;
  justify-content: space-between;
}

.hero__title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.hero__img {
  height: 200px;
  width: auto;
}

.hero__text {
  font-size: 18px;
  color: #E5E7EB;
}

.button {
  text-decoration: none;
  padding-inline: 1em;
  padding-block: .5em;
  border-radius: 5px;
  display: inline-block;
  margin-block: .5em;
  width: 8em;
  text-align: center;
  font-size: 1.1rem;
}

.btn--primary {
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 600;
}

.btn--secondary {
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 600;
  border: 2px solid #F9FAF8;
}

.info {
  padding-block: 2em;
}

.info__header {
  text-align: center;
  color: #1F2937;
  font-weight: 900;
  font-size: 36px;
}

.info__container {
  display: flex;
  justify-content: space-between;
  padding-block: 2em;
}

.info-card {
  width: 150px;
}

.info-card__img {
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.info-card__text {
  text-align: center;
  color: rgb(61, 61, 61);
}

.quotes {
  background-color: #E5E7EB;
  padding-block: 6em;
}

.quote__main-text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
}

.quote__owner {
  text-align: right;
  font-weight: bold;
  font-size: 24px;
  color: #1F2937;
  padding-block: 1em;
}

.cba {
  padding-block: 6em;
}

.cba__container {
  background-color: #3882F6;
  width: auto;
  padding-block: 3em;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.cba__title,
.cba__text {
  color: #F9FAF8;
}

.cba__title {
  font-size: 1.5em;
  font-weight: bolder;
}

.cba__text {
  font-size: 1.1em;
}